.previsao{
    box-shadow: 10px 10px 30px #0c265b;
    padding: 30px;
    margin-top: 20px;
    /* border: 2px solid black; */
}

.previsao h4{
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.previsao ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    gap: 50px;
}

.previsao ul li{
    box-shadow: 10px 10px 30px #0c265b;
    padding: 30px;
    width: 200px;
}

.previsao ul li img{
    width: 80px;
}

.previsao ul li p{
    font-weight: bold;
}